<!-- 
# <form  accept-charset="UTF-8" action="/users" method="POST">
#   <label for="username">Username  <label/>
#   <input type="text" name="user[username]">

#   <label for="email">Email <label/>
#   <input type="email" name="user[email]">

#   <label for="password">Password <label/>
#   <input type="password" name="user[password]"><br>
 
#   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
#   <input type="submit" value="Submit">
# </form> -->

<!--# <%= form_tag('/users') do%>

# <%= label_tag 'username' %>
# <%= text_field_tag 'username' %>

# <%= label_tag 'email' %>
# <%= email_field_tag 'email' %>


# <%= label_tag 'password' %>
# <%= password_field_tag 'password' %>

# <%= submit_tag %>

# <% end %> -->
<div class="row">
  <div class="col-md-6 col-md-offset-3">

 
  <%= form_for :user, url: {action: "create"} do |u| %>
    <h1>Creating new User </h1>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          The form contains <%= pluralize(@user.errors.count, "error") %>.
        </div>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
  <% end %>
    <%= label(:user, :Username) %> 
    <%= u.text_field :username, placeholder: "Mr Bean", value: "kofi" %><br><br>

    <%= label(:user, :Email) %> 
    <%= u.email_field :email, placeholder: "example@example.com", value: "kofi@gmail.com " %><br><br>

    <%= label(:user, :Password) %> 
    <%= u.password_field :password %><br><br>

    <%= u.submit %>
  <% end %>
  </div>
</div>
